*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,.5)50%,rgba(0,0,0,.5)50%), url(background2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    font-size: 35px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 20px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff0000;
}

.slogan{
    float: left;
    margin-left: 100px;

    font-family: 'Times New Roman';
    width: 480px;
    height: 25px;
    border: 2px solid #ff0000;
    margin-top: 10px;
    color: #ffffff;
    font-size: 12px;
    text-shadow: 2px 2px 4px #000000;
    padding: 8px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-radius: 5px;
}

.content{
    width: auto;
    height: auto;
    margin: 25px;
    color: #fff;
    position: static;
    text-shadow: 2px 2px 4px #000000;
}

.content .par{
    
    padding-bottom: 15px;
    font-size: 16px;
    font-family:'Times New Roman';
    line-height: 20px;
    text-align: center;
}

.content h1{
    font-family: 'Arial';
    font-size: 40px;
    margin-top: 5%;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
}

.content h2{
    font-family: Arial;
    font-size: 25px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
}

.content .par2{
    font-size: 16px;
    font-family: 'Times New Roman';
}